body{

    font-family: 'Roboto', sans-serif;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}

header>h1{

    display: inline;
    font-size: 36px;
}

.grid-45{

    margin-top: 3%;
    margin-left: 0;
    margin-right: 4%;
    margin-bottom: 0;
}

.grid-95{

    margin-top: 3%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

footer>p{

    text-align: center;
}

#logo5{

    width: 875px;
}