body{

    font-family: 'Roboto', sans-serif;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}

header>h1{

    display: inline;
    font-size: 36px;
}

.grid-45{

    border: solid 2px;
    margin-top: 5%;
    margin-left: 0;
    margin-right: 2%;
    margin-bottom: 0;
}

.grid-92{

    border: solid 2px;
    margin-top: 5%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}